
/* index header */
#home {
    position: relative;
    width: 100%;
    height: 500px;
    background: url("../static/picture/onload.png") no-repeat;
}

#home p {
    font-size: 2em;
    color: rgba(255,255,255,0.7);
    position: absolute;
    left: 25%;
    top: 35%;
}

#home p:first-child {
    font-size: 5em;
    left:35%;
    top:15%;
}

#index_nav {
    list-style-type: none;
    position: absolute;
    left: 33%;
    top: 45%;
}
#index_nav li {
    display: inline-block;
    margin: 0.5em;
    padding:0.5em 1em 0.5em 1em;
    background-color: rgba(111,173,249,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#index_nav li a {
    font-size: 1.5em;
    color: white;
}

/* categories */
#categories {
    padding: 2em 4em 0 5em;
}

#categories .categories-header{
    border-bottom: 2px solid gray;
    padding:8px 18px;
    font-size: 1.2em;
    font-weight: bold;
}

#categories .categories-item{
    display: block;
    font-size: 1.2em;
    color: rgba(40,40,40,0.8);
    padding:8px 18px;
    border-bottom:1px solid gray;
}
#categories .categories-item:last-of-type{
    border-bottom:none;
}
#categories .categories-item .my-badge{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #999;
    padding: 0 7px 1px 7px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    float: right;
}

/* post area */
#post .post-header{
    padding: 15px 30px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 1.5em;
    font-weight: bold;
}
#post .post-item{
    display: block;
    padding:8px 30px 10px 30px;
    border-bottom:1px solid #aaa;
}

/* article area*/
#article_summary {
    padding-left: 2em;
}

#article_summary .summary {
    font-size: 1.2em
    padding-bottom:1em;
}

#my_article {
    padding-right: 2em;
}

/* move to top */
#top {
    position: fixed;
    right: 25px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #bbb;
    border-radius:7px;
    opacity: 0.8;
    display: none;
    z-index: 888;
}
#top .arrow{
    margin:0 auto;
    padding-top:11px;
    width:0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #7f7f7f;

}
#top .stick{
    margin:0 auto;
    padding-bottom:21px;
    width: 13px;
    border-bottom: 13px solid #bbb;
    background-color: #7f7f7f;
}

/* footer */
footer .footer {
    width:100%;
    height: 40px;
    left: 0;
    bottom: 0;
    background: url("../static/picture/footer.png") repeat-x;
}

footer .footer span {
    padding: 2px auto;
}