---
layout: home
---
    <div class="row">
        <div class="col-sm-3">
            <div id="categories" class="hidden-xs">
                <img src="static/picture/author.png" class="img-thumbnail" alt="作者"/>
                <p><small>Stay foolish,stay hungry</small></p>
                <div class="categories-header">
                    <span class="glyphicon glyphicon-list"></span>  分类列表
                </div>
                <div class="categories-body">
                    <ul>
                        <li class="categories-item">
                            <a href='index.html#post'  cate="All">
                                All
                            </a>
                            <span class="my-badge">{{site.posts | size}}</span>
                        </li>
                        {% for category in site.categories order:ascending %}
                        <li class="categories-item">
                            <a href="javascript:;"  cate="{{ category | first }}">
                                {{ category | first }}
                            </a>
                            <span class="my-badge">{{ category | last | size }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="post">
                <div class="post-header">文章列表</div>
                <div class="post-body">
                    <div class="all-posts" post-cate="All">
                        <!--所有文章-->
                        {% for post in paginator.posts %}
                        <a class="post-item" href="{{ post.url}}">
                            <h3>{{ post.title }}</h3>
                            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                        </a>
                        {% endfor %}
                        <!-- 分页 -->
                        <div class="paginator">
                            {% if paginator.total_pages > 1 %}
                            <!-- 分页代码 -->
                            {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl}}">上一页</a>
                            {% endif %}

                            {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                            <span class="active">{{ page }}</span>
                            {% elsif page == 1 %}
                            <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                            {% else %}
                            <a href="/{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                            {% endif %}
                            {% endfor %}

                            {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <!-- 分类文章 -->
                    {% for category in site.categories %}
                    <div post-cate="{{category | first}}">
                        {% for posts in category  %}
                        {% for post in posts %}
                        {% if post.url %}
                         <a href="{{ post.url | prepend: site.baseurl }}" class="post-item">
                            <h2>{{ post.title }}</h2>
                            <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   