<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
    <meta name="description" content="Free Web tutorials on HTML and CSS">
    <meta name="author" content="Hege Refsnes">
    <title>蒋肇锦的博客</title>
    <!-- 从百度静态资源库引入文件 -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" >
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--代码高亮插件-->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--样式表-->
    <link rel="stylesheet" type="text/css" href="{{ "/css/index.css" | prepend: site.baseurl }}">
    <!--javascript代码-->
    <script type="text/javascript" src="{{"/static/index.js" | prepend: site.baseurl}}"></script>
    <link rel="shortcut icon"  href="http://Zebrass.github.io/favicon.ico" type="image/x-icon" />
    <script>
                    console("s");
    </script>
</head>